<?xml version="1.0"?>
<configuration>
  <system.web>
	  <authorization>
		  <deny users="?"/>
	  </authorization>
	  <customErrors mode="On" defaultRedirect="undermaintenance.aspx">
		  <!-- Handle specific errors, like 404 (Page Not Found) -->
		  <error statusCode="404" redirect="undermaintenance.aspx" />
		  <error statusCode="500" redirect="undermaintenance.aspx" />
		  <error statusCode="503" redirect="undermaintenance.aspx" />
	  </customErrors>
  </system.web>
</configuration>
